// SCSS global

@import 'abstracts/variables';
@import 'abstracts/fonts';
@import 'abstracts/utilities';

@import 'base/reset';

@import 'components/button';
@import 'components/cards';
@import 'components/filter';

@import 'layout/footer';
@import 'layout/header';

@import 'pages/home';
@import 'pages/movie-list';
@import 'pages/movie-detail';
@import 'pages/actor-list';
@import 'pages/actor-detail';