@mixin card-movie {
    position: relative;
    cursor: pointer;

    max-width: 30rem;
    width: 100%;
    height: 45.3rem;

    color: $white;

    display: flex;
    flex-direction: column;

    border-radius: .5rem;
    overflow: hidden;

    &:hover {
        div {
            opacity: 1;
            visibility: visible;
        }
    }

    a, figure, img {
        height: 100%;
        width: 100%;
    }

    img {
        object-fit: cover;
    }

    div {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding: 2rem;

        background-color: rgba($color: $black, $alpha: .4);
        backdrop-filter: blur(0.2rem);
        opacity: 0;
        
        visibility: hidden;
        transition: .3s ease-in-out;
        z-index: 1;

        display: flex;
        flex-direction: column;
    }

    h3 {
        font-size: 3rem;
        margin-bottom: auto;
    }

    p {
        font-size: 2rem;
    }
}

@mixin card-actor {
    max-width: 20%;

    @include max (900) {
        max-width: 30rem;
    }

    img {
        border-radius: .5rem;
        overflow: hidden;
        object-fit: cover;
    }

    h3 {
        margin-top: 1rem;
        font-size: 2rem;
        text-align: center;

        @include max (900) {
            font-size: 1.5rem;
        }
    }
}