.movie-list {
    &__filter {
        @include filter;
    }
    
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    &__movie {
        @include card-movie;
    }
}