*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    box-sizing: border-box;
    position: relative;
    font-family: $manrope;
    background-color: $yankees-blue;
    color: $white;
}
main {
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 4rem;

    @include max (900) {
        font-size: 3.5rem;
    }
}

h2 {
    font-size: 3rem;

    @include max (900) {
        font-size: 2.5rem;
    }
}
.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1350px;
}
