.favorite {
    margin-top: 20rem;

    h2 {
        width: 100%;
        text-align: center;
    }

    &-movies {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
}